<app-header></app-header>

<div class="grid">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Caudex&display=swap');
    </style>
    <div class="col-1">
        <article>
            <h2>Technique of the Month</h2>
            <h3>Kani Basami: Flying Scissors</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YbHy0FbMA-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4>This is prohibited Waza.</h4>
            <h4>Summary</h4>
            <p>The Kani-basami (Scissors throw) consists of scissoring the opponent's upper body between your legs and toppling him in the backward direction.</p>
            <img alt="Kani-basami" src="../../assets/kani-basami.PNG">
            <h4>Details</h4>
            <p>
                Tori breaks uke's balance towards his rear from the left side of uke's body, and while dropping down onto one side, he puts the right leg on uke's lower abdomen and the left leg on the back of uke's knees and reaps his lower body in a scissor-like action,
                but so that he is thrown backwards.
            </p>
            <p>
                Positioned beside Uke (Player receiving opponent's attack), Tori (Player executing technique) grasps the back of Uke (Player receiving opponent's attack) collar with his Tsurite (Lifting hand). While supporting himself by placing his Hiki-te (Tsurite
                [Lifting hand]) against the floor, Tori (Player executing technique) raises both legs and scissors Uke (Player receiving opponent's attack) upper body with them. In this "scissors" posture, one of Tori (Player executing technique) legs
                is positioned behind Uke (Player receiving opponent's attack) knees, and the other leg is at Uke (Player receiving opponent's attack) abdominal area. Tori (Player executing technique) then twists his waist to rotate both is legs in the
                backward direction, and topples Uke (Player receiving opponent's attack) in that direction. Tori (Player executing technique) performs this leg reap while pulling Uke (Player receiving opponent's attack) backward with his Tsurite (Lifting
                hand). Due to the force of the fall which this Waza produces, and due to the high risk of strong back-of-the-head impacts against the floor which could even result in death, this is a prohibited Waza. The four Waza which are currently
                prohibited by the international rules are the Kani-basami (Scissors throw), Ashi-garami (Entangled leg lock), Do-jime (Body scissors), and the Kawazu-gake (One-leg entanglement drop).
            </p>
        </article>
    </div>
    <div class="col-2">
        <div class="row--container">
            <div class="row-1">
                <article class="module">
                    <h2>Story of the Month</h2>
                    <h3>Two San Antonio Judo Athletes Chase Dreams to World Championships in Tokyo</h3>
                    <img class="story" alt="story" src="../../assets/ScottBall_judo-championships-mariah-holguin-coach-hrbek-katie-bernier-8-21-2019-7.jpg">
                    <p>
                        For Mariah Holguin, flying half a world away from her San Antonio home to stand toe-to-toe with a competitor who wants to put her on her back is nothing new. She turned 19 just two months ago and has been out of Johnson High School for a little more than
                        a year, yet, she has visited more than 20 countries while competing in judo. Holguin fell in love with judo a decade ago watching her brother participate in the sport. She has steadily risen through the ranks to become one of the
                        best U.S. judokas in her weight class. She and fellow San Antonio resident Nina Cutro-Kelly are in Tokyo this week to compete in the World Judo Championships.
                    </p>
                    <img class="story0" alt="story0" src="../../assets/ScottBall_judo-championships-mariah-holguin-coach-hrbek-katie-bernier-8-21-2019-10-1170x780.jpg">
                    <p>
                        “You can’t get any bigger than this and the Olympics,” Holguin said before departing for Tokyo. “So this is as close as I’m ever going to get to experiencing something like this outside of going to the Olympics. I’ve been dreaming about this for so long.
                        It didn’t actually hit me until about a week ago.” Despite rarely feeling butterflies before competitions, Holguin admitted this time was different. Facing the very best in the world is about as big as it gets for men and women
                        who toil for hours in this sport, often with friends and family able to watch only on streamed video over the internet. Judo is a modern martial art less than 150 years old. Opponents try to take each other to the ground and force
                        the opponent to their back for as long as possible. Judokas also attempt to win through submission holds in matches that last 5 minutes.
                    </p>
                    <p>
                        Judo has been an Olympic sport for men since 1964; women began competing in the 1992 Olympics. Going into the world championships, Holguin ranks 68th in the world in her division in the International Judo Federation rankings. Two other Americans are ranked
                        slightly higher but both are significantly older. Meanwhile, 34-year-old Cutro-Kelly is one of the oldest women competing in her division and is the highest-ranked American at No. 28 in the world. The fact that the World Championships
                        are being held in Japan is significant to both San Antonio competitors, because it’s the birthplace of the sport. Holguin and Cutro-Kelly were scheduled to practice this week in the building this week in which judo is said to have
                        originated. “I love it,” Cutro-Kelly said. “I can’t imagine any other life.” Cutro-Kelly has been competing in judo for nearly three decades. She started as a girl growing up in New York and continued in the sport while living
                        in France. She is a a nine-time U.S. national champion who is making her eighth trip to the world championships, but injuries have held her back at various points in her career. Still, she has her sights set on making the 2020
                        Olympic team.
                    </p>
                    <p>
                        “It would be the final bit of unfinished business before I retire,” Cutro-Kelly said. “The only real reason I’m sticking around is I want to make the Olympic team.” Cutro-Kelly competes in the heavyweight division, although at 220 pounds she often is
                        40 or even 60 pounds lighter than many of her competitors. She uses her athleticism and agility to her advantage against bigger, slower opponents. Holguin competes in the 57-kilogram division, which is for women who are approximately
                        125 pounds. Winning a championship this week would mean conquering seven or eight opponents in a marathon day of fighting. Each weight division is decided beginning to end in one day. Holguin and Cutro-Kelly train under former
                        U.S. Olympic coach Jim Hrbek at Universal Judo on the North Side. Cutro-Kelly also teaches there when she’s not using her master’s degree to teach foreign languages remotely. “Balancing all of it is like trying to pull off a hat
                        trick, but I’m hoping it’s all going to pay off,” Cutro-Kelly said. Compared to Cutro-Kelly, Holguin is just getting started, even though her passport would suggest otherwise. “Judo has made me see so many other parts of the world
                        that I would never have got to see otherwise this early in my life,” Holguin said. “… I feel like it made me humble. You see so many other places that aren’t as well off as I am, and it made me appreciate what I have.” That includes
                        having the support of Cutro-Kelly, who even stepped in once to help her get treatment for a cut near her eye so she could compete the next day. “I think we really push each other,” Cutro-Kelly said of her relationship and friendship
                        with Holguin. “It’s a positive environment. A lot of clubs can suffer from being cliquey and, you know, it’s not a productive working environment. Mariah is 15 years younger than me, but we work together.”
                    </p>
                </article>
            </div>
        </div>
    </div>
    <div class="col-3">
        <h2>Judoka of the Month</h2>
        <article>
            <h3>Diane Tamai Jackson</h3>
            <img id="diane" src="http://shufujudo.org/wp-content/uploads/CRFM_20130309_92421.jpg" alt="Diane Tamia Jackson" width="540px">
            <p id="bold">Affiliation</p>
            <p>USJF</p>
            <p id="bold">Yudanshakai</p>
            <p>Shufu</p>
            <p id="bold">Club</p>
            <p>Hui-o Judo Club</p>
            <p id="bold">City, State</p>
            <p>Beltsville, Maryland</p>
            <p id="bold">Age</p>
            <p>50 years</p>
            <p id="bold">Stats</p>
            <p>Kata World Championships 2018</p>
            <p>Kata Grand Slam and World Kata Championship Olbia 2017</p>
            <p>World Kata Championships</p>
            <p id="bold">Self Bio</p>
            <p>Diane Tamai Jackson, godan, began judo at age seven. Her first sensei was her father, Ken Tamai, at the Hui-o judo club in Maryland, and she grew up competing in shiai. As an adult, she has been a member of over ten US teams in international
                judo kata competition, including the Kodokan International Kata Invitational, Cuban Olympics, Pan American Championships, and four World Judo Kata Championships. She has also won multiple medals in kata at the open World Masters Judo Championships.
                Diane was most recently the 2016 Ju-no-kata Pan-American gold medalist in 2015 & 2016 kata grand champion in the mixed division at the Senior National Championships. Diane is an active volunteer for judo, as a National-level referee, National-level
                kata judge, member of the Shufu region Board of Examiners, Chair of the Kata Committee for the Shufu region, and an assistant instructor at Hui-o judo club in Beltsville, Maryland.</p>
            <p>“I loved shiai growing up and I still love shiai. I learned confidence, compassion and perseverance, in judo and in life. But my understanding and appreciation for judo expands as I study the katas. As a young student, I never dreamed of competing
                at the Kodokan for the USA, but I was fortunate to have that opportunity in 2007 competing in the Kodokan International Kata Invitational. Judo is truly a life-long journey.“</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/elkrG5zBVLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
    </div>
</div>

<app-footer></app-footer>