<style>
    @media screen and (max-width: 583px) {
        img {
            height: 285px;
        }
        .carousel {
            height: 92%;
        }
    }
    
    @media screen and (min-width: 584px) and (max-width: 692px) {
        img {
            width: 100%;
            height: 285px;
        }
        .carousel {
            height: 92%;
        }
    }
    
    @media screen and (min-width: 693px) and (max-width: 950px) {
        img {
            width: 100%;
            height: 285px;
        }
        .carousel {
            height: 85%;
        }
    }
    
    @media screen and (max-width:1000px) and (min-width: 951px) {
        img {
            width: 100%;
            height: 285px;
        }
        .carousel {
            height: 85%;
        }
    }
    
    @media screen and (max-width:1500px) and (min-width: 1001px) {
        img {
            height: 360px;
        }
        .carousel {
            height: 115%;
        }
    }
    
    @media screen and (min-width: 1501px) and (max-width: 1677px) {
        img {
            height: 260px;
        }
        .carousel {
            height: 120%;
        }
    }
    
    @media screen and (min-width: 1678px) and (max-width: 1699px) {
        img {
            height: 280px;
        }
        .carousel {
            height: 120%;
        }
    }
    
    @media screen and (min-width: 1700px) {
        img {
            height: 370px;
        }
        .carousel {
            height: 110%;
        }
    }
</style>

<!-- You can now use your library component in app.component.html -->
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="photoSlide" width="100%">
    </div>
</ngx-slick-carousel>

<!-- <button (click)="addSlide()">Add</button>
    <button (click)="removeSlide()">Remove</button>
    <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
    <button (click)="slickModal.unslick()">unslick</button> -->