<style>
        @media screen and (max-width: 583px) {
            .container {
                margin-top: 20px;
                display: grid;
                grid-template-columns: 100%;
                grid-column-gap: 1em;
                grid-auto-rows: 700px;
            }
            .container>div {
                background: #eee;
                border-radius: 2px;
            }
            .box1 {
                text-align: center;
                overflow: auto;
                padding: 0px 30px 30px 30px;
            }
            .box2 {
                grid-row: 2;
                grid-column: 1;
                height: 20px;
                margin-top: 10px;
                padding: 30px 30px 30px 30px;
            }
            .box3 {
                grid-row: 2;
                grid-column: 1;
                margin-top: 100px;
                overflow: hidden;
                padding: 10px 30px 30px 30px;
            }
    
            #btnClose {
            margin-left: 45%;
            margin-bottom: 6%;
            cursor: pointer;
            }
    
            #waiverText {
                padding: 30px 50px 50px 50px;
            }
    
            .waiver {
                position: fixed;
                top: 15%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 500px;
                width: 100%;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnCloseCode {
                margin-bottom: 6%;
                margin-left: 45%;
                cursor: pointer;
            }
    
            #codeText {
                padding: 50px;
            }
    
            .code {
                position: fixed;
                top: 15%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 500px;
                width: 100%;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnNo {
                margin-top: 20px;
                margin-left: 24px;
                padding: 20px 20% 20px 20%;
                cursor: pointer;
            }
    
            #btnYes {
                margin-top: 20px;
                padding: 20px 20% 20px 20%;
                cursor: pointer;
            }
    
            .acknowledgement {
                position: fixed;
                top: 35%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 180px;
                width: 100%;
                visibility: hidden;
            }
        }
        
        @media screen and (max-width: 828px) and (min-width: 584px) {
            .container {
                margin-top: 20px;
                margin-bottom: 70px;
                display: grid;
                grid-template-columns: 100%;
                grid-column-gap: 1em;
                grid-auto-rows: 700px;
            }
            .container>div {
                background: #eee;
                border-radius: 2px;
            }
            .box1 {
                text-align: center;
                overflow: auto;
                padding: 0px 30px 30px 30px;
            }
            .box2 {
                grid-row: 2;
                grid-column: 1;
                height: 20px;
                margin-top: 10px;
                padding: 30px 30px 30px 30px;
            }
            .box3 {
                grid-row: 2;
                grid-column: 1;
                margin-top: 100px;
                height: 610px;
                overflow: hidden;
                padding: 10px 30px 30px 30px;
            }
    
            #btnClose {
            margin-left: 45%;
            margin-bottom: 6%;
            cursor: pointer;
            }
    
            #waiverText {
                padding: 30px 50px 50px 50px;
            }
    
            .waiver {
                position: fixed;
                top: 15%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 500px;
                width: 100%;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnCloseCode {
                margin-bottom: 6%;
                margin-left: 45%;
                cursor: pointer;
            }
    
            #codeText {
                padding: 50px;
            }
    
            .code {
                position: fixed;
                top: 15%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 500px;
                width: 100%;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnNo {
                margin-top: 20px;
                margin-left: 24px;
                padding: 20px 20% 20px 20%;
                cursor: pointer;
            }
    
            #btnYes {
                margin-top: 20px;
                padding: 20px 20% 20px 20%;
                cursor: pointer;
            }
    
            .acknowledgement {
                position: fixed;
                top: 35%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 180px;
                width: 100%;
                visibility: hidden;
            }
        }
        
        @media screen and (max-width: 1100px) and (min-width: 829px) {
            .container {
                margin-top: 20px;
                margin-bottom: 240px;
                display: grid;
                grid-template-columns: 100%;
                grid-column-gap: 1em;
                grid-auto-rows: 700px;
            }
            .container>div {
                background: #eee;
                border-radius: 2px;
            }
            .box1 {
                text-align: center;
                overflow: auto;
                padding: 0px 30px 30px 30px;
            }
            .box2 {
                grid-row: 2;
                grid-column: 1;
                height: 20px;
                margin-top: 10px;
                padding: 30px 30px 30px 30px;
            }
            .box3 {
                grid-row: 2;
                grid-column: 1;
                margin-top: 100px;
                height: 780px;
                overflow: hidden;
                padding: 10px 30px 30px 30px;
            }
    
            #btnClose {
            margin-left: 45%;
            margin-bottom: 6%;
            cursor: pointer;
            }
    
            #waiverText {
                padding: 30px 50px 50px 50px;
            }
    
            .waiver {
                position: fixed;
                top: 15%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 500px;
                width: 100%;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnCloseCode {
                margin-bottom: 6%;
                margin-left: 45%;
                cursor: pointer;
            }
    
            #codeText {
                padding: 50px;
            }
    
            .code {
                position: fixed;
                top: 15%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 500px;
                width: 100%;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnNo {
                margin-top: 20px;
                margin-left: 24px;
                padding: 20px 20% 20px 20%;
                cursor: pointer;
            }
    
            #btnYes {
                margin-top: 20px;
                padding: 20px 20% 20px 20%;
                cursor: pointer;
            }
    
            .acknowledgement {
                position: fixed;
                top: 35%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 180px;
                width: 100%;
                visibility: hidden;
            }
        }
        
        @media screen and (max-width: 1500px) and (min-width: 1101px) {
            .container {
                margin-top: 20px;
                margin-bottom: 360px;
                display: grid;
                grid-template-columns: 100%;
                grid-column-gap: 1em;
                grid-auto-rows: 700px;
            }
            .container>div {
                background: #eee;
                border-radius: 2px;
            }
            .box1 {
                text-align: center;
                overflow: auto;
                padding: 0px 30px 30px 30px;
            }
            .box2 {
                grid-row: 2;
                grid-column: 1;
                height: 20px;
                margin-top: 10px;
                padding: 30px 30px 30px 30px;
            }
            .box3 {
                grid-row: 2;
                grid-column: 1;
                margin-top: 100px;
                height: 900px;
                overflow: hidden;
                padding: 10px 30px 30px 30px;
            }
    
            #btnClose {
            margin-left: 45%;
            margin-bottom: 6%;
            cursor: pointer;
            }
    
            #waiverText {
                padding: 30px 50px 50px 50px;
            }
    
            .waiver {
                position: fixed;
                top: 15%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 500px;
                width: 100%;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnCloseCode {
                margin-bottom: 6%;
                margin-left: 45%;
                cursor: pointer;
            }
    
            #codeText {
                padding: 50px;
            }
    
            .code {
                position: fixed;
                top: 15%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 500px;
                width: 100%;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnNo {
                margin-top: 20px;
                margin-left: 24px;
                padding: 20px 20% 20px 20%;
                cursor: pointer;
            }
    
            #btnYes {
                margin-top: 20px;
                padding: 20px 20% 20px 20%;
                cursor: pointer;
            }
    
            .acknowledgement {
                position: fixed;
                top: 35%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 180px;
                width: 100%;
                visibility: hidden;
            }
        }
        
        @media screen and (max-width: 1699px) and (min-width: 1501px) {
            .container {
                margin-top: 20px;
                margin-bottom: 610px;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-column-gap: 1em;
                grid-auto-rows: 80px;
            }
            .container>div {
                background: #eee;
                border-radius: 2px;
            }
            .box1 {
                height: 720px;
                text-align: center;
                overflow: auto;
                padding: 0px 30px 30px 30px;
            }
            .box2 {
                grid-column: 2;
                margin-right: 15px;
                padding: 30px 30px 30px 30px;
            }
            .box3 {
                height: 620px;
                grid-column: 2;
                margin-top: 10px;
                margin-right: 15px;
                overflow: hidden;
                padding: 10px 30px 30px 30px;
            }
    
            #btnClose {
            margin-left: 45%;
            cursor: pointer;
            }
    
            #waiverText {
                padding: 30px 50px 50px 50px;
            }
    
            .waiver {
                position: fixed;
                top: 15%;
                left: 7%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 600px;
                width: 600px;
                visibility: hidden;
            }
    
            #btnCloseCode {
                margin-bottom: 6%;
                margin-left: 45%;
                cursor: pointer;
            }
    
            #codeText {
                padding: 50px;
            }
    
            .code {
                position: fixed;
                top: 15%;
                left: 7%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 600px;
                width: 600px;
                visibility: hidden;
                overflow: auto;
            }
    
            #btnNo {
                margin-top: 20px;
                margin-left: 14px;
                padding: 20px 131px 20px 131px;
                cursor: pointer;
            }
    
            #btnYes {
                margin-top: 20px;
                padding: 20px 131px 20px 131px;
                cursor: pointer;
            }
    
            .acknowledgement {
                position: fixed;
                top: 35%;
                left: 7%;
                border: solid 2px rgb(255, 255, 255);
                background-color: rgb(199, 195, 195);
                height: 180px;
                width: 600px;
                visibility: hidden;
            }
        }
        
        @media screen and (min-width: 1700px) {
        .container {
            margin-top: 20px;
            margin-bottom: 760px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 1em;
            grid-auto-rows: 80px;
        }
        .container>div {
            background: #eee;
            border-radius: 2px;
        }
        .box1 {
            height: 880px;
            text-align: center;
            overflow: auto;
            padding: 0px 30px 30px 30px;
        }
        .box2 {
            grid-column: 2;
            margin-right: 15px;
            padding: 30px 30px 30px 30px;
        }
        .box3 {
            height: 780px;
            grid-column: 2;
            margin-top: 10px;
            margin-right: 15px;
            overflow: hidden;
            padding: 10px 30px 30px 30px;
        }

        #btnClose {
        margin-left: 45%;
        cursor: pointer;
        }

        #waiverText {
            padding: 30px 50px 50px 50px;
        }

        .waiver {
            position: fixed;
            top: 15%;
            left: 9.5%;
            border: solid 2px rgb(255, 255, 255);
            background-color: rgb(199, 195, 195);
            height: 600px;
            width: 600px;
            visibility: hidden;
        }

        #btnCloseCode {
            margin-bottom: 6%;
            margin-left: 45%;
            cursor: pointer;
        }

        #codeText {
            padding: 50px;
        }

        .code {
            position: fixed;
            top: 15%;
            left: 9.5%;
            border: solid 2px rgb(255, 255, 255);
            background-color: rgb(199, 195, 195);
            height: 600px;
            width: 600px;
            visibility: hidden;
            overflow: auto;
        }

        #btnNo {
            margin-top: 20px;
            margin-left: 14px;
            padding: 20px 131px 20px 131px;
            cursor: pointer;
        }

        #btnYes {
            margin-top: 20px;
            padding: 20px 131px 20px 131px;
            cursor: pointer;
        }

        .acknowledgement {
            position: fixed;
            top: 35%;
            left: 9.5%;
            border: solid 2px rgb(255, 255, 255);
            background-color: rgb(199, 195, 195);
            height: 180px;
            width: 600px;
            visibility: hidden;
        }
    }
        
        body {
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }
        
        .agreement {
            font-size: 14px;
            font-weight: 700;
            color: rgb(105, 104, 104);
        }
        
        .button {
            font-size: 14px;
            font-weight: 700;
            border: none;
            background-color: rgb(31, 103, 161);
            padding: 15px 20px 15px 20px;
            border-radius: 3px;
            color: white;
        }
        
        .button:hover {
            cursor: pointer;
            background-color: rgb(42, 135, 211);
        }
        
        .button:active {
            box-shadow: 5px 5px 1px 0px rgb(66, 67, 68);
            border-bottom-width: 4px;
            transform: translateY(4px);
            background: rgb(45, 87, 204);
            ;
        }
    
        #btnWaiver,
        #btnCode{
            cursor: pointer;
        }
    
        h2 {
            text-align: center;
        }
    
    </style>
    
    <app-header></app-header>
    <div class="waiver">
        <h2>Waiver</h2>
            <div id="waiverText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id euismod massa. Donec sed ultrices felis. Etiam velit nulla, volutpat in lobortis vel, dapibus in elit. Nulla facilisi. Aenean ut commodo sem, at accumsan lacus. Nunc orci nisl, viverra ut felis vitae, tincidunt eleifend lacus. In vestibulum ante sit amet consequat mattis. Etiam egestas auctor magna eget dictum. Nunc vitae mauris blandit, pellentesque ligula eu, posuere dui. Donec hendrerit urna ut erat pretium tincidunt. Integer pulvinar augue sollicitudin lacus commodo porttitor. Quisque pellentesque eros arcu, a placerat dui faucibus at. Proin at bibendum libero. Mauris eget libero eget nulla aliquam egestas sit amet et ligula.
            <br><br>
            Phasellus semper interdum turpis, nec vulputate ipsum elementum id. Proin sodales nunc at pulvinar accumsan. Quisque commodo quis urna nec fermentum. Integer viverra suscipit sem in condimentum. Aenean id nibh diam. Sed id odio quam. Curabitur mattis, massa eget vehicula suscipit, justo est pellentesque elit, eu tincidunt odio dolor sit amet risus. Donec non ultricies urna. Duis at ante tincidunt, pharetra tortor ut, lobortis diam. Integer lacus dolor, mollis vel tincidunt eget, pharetra ut elit. Nam eget quam et lacus consectetur faucibus. Nam quis massa sit amet libero vestibulum venenatis quis a metus. Nunc gravida sollicitudin neque. Nunc at sagittis dolor. Donec euismod, ipsum sit amet vestibulum suscipit, erat diam iaculis erat, luctus auctor ante dui at enim.</div>
            <input type="button" id="btnClose" value="close">
        </div>
        
    <div class="code">
        <h2>Code of conduct</h2>
            <div id="codeText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id euismod massa. Donec sed ultrices felis. Etiam velit nulla, volutpat in lobortis vel, dapibus in elit. Nulla facilisi. Aenean ut commodo sem, at accumsan lacus. Nunc orci nisl, viverra ut felis vitae, tincidunt eleifend lacus. In vestibulum ante sit amet consequat mattis. Etiam egestas auctor magna eget dictum. Nunc vitae mauris blandit, pellentesque ligula eu, posuere dui. Donec hendrerit urna ut erat pretium tincidunt. Integer pulvinar augue sollicitudin lacus commodo porttitor. Quisque pellentesque eros arcu, a placerat dui faucibus at. Proin at bibendum libero. Mauris eget libero eget nulla aliquam egestas sit amet et ligula.
            <br><br>
            Phasellus semper interdum turpis, nec vulputate ipsum elementum id. Proin sodales nunc at pulvinar accumsan. Quisque commodo quis urna nec fermentum. Integer viverra suscipit sem in condimentum. Aenean id nibh diam. Sed id odio quam. Curabitur mattis, massa eget vehicula suscipit, justo est pellentesque elit, eu tincidunt odio dolor sit amet risus. Donec non ultricies urna. Duis at ante tincidunt, pharetra tortor ut, lobortis diam. Integer lacus dolor, mollis vel tincidunt eget, pharetra ut elit. Nam eget quam et lacus consectetur faucibus. Nam quis massa sit amet libero vestibulum venenatis quis a metus. Nunc gravida sollicitudin neque. Nunc at sagittis dolor. Donec euismod, ipsum sit amet vestibulum suscipit, erat diam iaculis erat, luctus auctor ante dui at enim.      
            <br><br>
            Duis varius tellus id vestibulum maximus. Vestibulum urna dolor, fringilla id hendrerit nec, vulputate pharetra nulla. Donec nec ante nec ligula aliquet feugiat sed placerat ex. Sed at augue blandit, ultrices urna ut, porttitor arcu. In tristique nulla ipsum, vel rhoncus dolor aliquet quis. Donec dignissim venenatis elit a ultrices. Nunc volutpat, erat sit amet iaculis dapibus, ante velit lacinia tortor, et molestie velit lectus feugiat massa. In sit amet sem sed tortor condimentum ultricies ut sed quam. Mauris lectus enim, rhoncus in interdum vitae, ultrices eget sapien. Nunc venenatis, dolor nec cursus volutpat, justo odio accumsan lorem, vel accumsan ex felis a elit. Suspendisse nec luctus magna. Quisque eget neque leo. In porta mollis arcu et cursus. Nulla mollis ante sit amet justo consequat elementum.
            <br><br>
            Nullam commodo laoreet condimentum. Aliquam eu gravida metus. Curabitur pulvinar maximus ipsum eu condimentum. Nullam et erat quis nisi euismod congue. Pellentesque quis erat purus. Etiam ligula urna, egestas pulvinar velit ut, fermentum dignissim magna. Aenean venenatis lacus vel nunc feugiat mollis. Nulla facilisi. Nullam dictum placerat odio non interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc justo lectus, mollis ac libero eget, scelerisque bibendum nisi.
            <br><br>
            Vestibulum id lacus vel neque hendrerit sollicitudin eu sed nunc. Vestibulum iaculis justo ac lorem dignissim, eleifend pulvinar nunc dictum. Vestibulum fermentum odio et sapien tristique pulvinar. Ut tempor mattis magna, ornare consectetur lacus convallis consectetur. Pellentesque accumsan semper felis sollicitudin sollicitudin. Curabitur nibh ante, rutrum vitae risus quis, imperdiet suscipit quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris pretium magna eu tortor consequat, in dictum lacus pharetra. Donec condimentum eros non diam lacinia, id fringilla quam hendrerit. Donec vitae suscipit odio, id lobortis elit. Sed ultrices dui vel enim gravida convallis. Cras eget lectus non justo accumsan placerat vitae eget purus. Curabitur ac leo in dolor sollicitudin facilisis quis eget lectus. Ut ut pretium magna, non mattis mi.</div>  
            <input type="button" id="btnCloseCode" value="close">
    </div>
    
    <div class="acknowledgement">
    <h2>Are you sure you would like to submit?</h2>
    <input type="button" id="btnNo" value="No">
    <input type="button" id="btnYes" value="Yes">
    </div>
                
                <div class="container">
            
                        <div class="box1">
                            <div>
                                <h2>Event Form</h2>
                                <br/> Event Type: <br/>
                                <input type="text"> <br/>
                                <br/> Event Name: <br/>
                                <input type="text"> <br/>
                                <br/> Event Location & Address: <br/>
                                <input type="text"><input type="text"> <br/>
                                <br/> Event Description: <br/>
                                <input type="text"> <br/>
                                <br/> Affiliation (dropdown): <br/><br/>
                                <select>
                                        <option value="1">USAJ</option>
                                        <option value="2">USJA</option>
                                        <option value="3">USJF</option>
                                        <option value="4">PJ</option>
                                        <option value="5">IJF</option>
                                </select>     
                                <br/>
                                <br/> Yudanshakai: <br/><br/>
                                <select>
                                        <option value="1">Steve Owen</option>
                                        <option value="2">Neal Kodama</option>
                                        <option value="3">Sandra Hauptmann</option>
                                        <option value="3">Tom Jay</option>
                                        <option value="3">Conrad Hisaka</option>
                                        <option value="3">Alberto Fernandez</option>
                                        <option value="3">Larry Labrador</option>
                                        <option value="3">John Owens</option>
                                        <option value="3">Rodney Nakayama</option>
                                        <option value="3">Nathan Hiraoka</option>
                                        <option value="3">Mac Takeda</option>
                                        <option value="3">Boris Munoz</option>
                                        <option value="3">Jerry Mizuta</option>
                                        <option value="3">James Murray</option>
                                        <option value="3">Roland Fernando</option>
                                        <option value="3">Keith Chu</option>
                                        <option value="3">Janet Y. Ashida John</option>
                                        <option value="3">John Schaedler</option>
                                        <option value="3">Ernest Matsubara</option>
                                        <option value="3">Dale Swet</option>
                                        <option value="3">Larry Tsusui</option>
                                        <option value="3">Nubuo R. Hayashi</option>
                                        <option value="3">Roy Englert</option>
                                        <option value="3">Allen Inouye</option>
                                </select> <br/>
                                <br/> Club (dropdown): <br/><br/>
                                <select>
                                        <option value="1">A. Kolychkine Judo Foundation</option>
                                        <option value="2">A. Kolychkine Judo Foundation, Inc.</option>
                                        <option value="3">Academy of Japanese Martial Arts</option>
                                        <option value="4">Academy of Modern Martial Arts</option>
                                        <option value="5">After School Judo Academy</option>
                                        <option value="5">Air Capital Judo Club</option>
                                        <option value="5">AKA Judo</option>
                                        <option value="5">Alamo Judo Club</option>
                                        <option value="5">Albany Kodokan Judo Inc.</option>
                                        <option value="5">Amedes Judo Academy</option>
                                        <option value="5">American Judo and Jiu-Jitsu Academy</option>
                                        <option value="5">Anchorage Dojo</option>
                                        <option value="5">AP Training Center FL LLC</option>
                                        <option value="5">Arena Training Center</option>
                                        <option value="5">Arizona Judo Academy</option>
                                        <option value="5">Arlington Judo Club</option>
                                        <option value="5">Army West Point Judo</option>
                                        <option value="5">Atlanta Judo Midtown</option>
                                        <option value="5">Axiom Jiu Jitsu/Judo</option>
                                        <option value="5">Ball State Judo Club</option>
                                        <option value="5">Barrington Judo Club</option>
                                        <option value="5">Barstow Judo Club</option>
                                        <option value="5">Barstow PAL Judo Club</option>
                                        <option value="5">Becerra Judo & Jujitsu Club</option>
                                        <option value="5">Belleville Judo Club</option>
                                        <option value="5">Big Sky Martial Arts Judo Club</option>
                                        <option value="5">Bismarck Gentle Ways Judo</option>
                                        <option value="5">Boston Judo Club</option>
                                        <option value="5">Bristol Yawara Judo Club</option>
                                        <option value="5">Budokan Judo School</option>
                                        <option value="5">Bulldog Judo Club</option>
                                        <option value="5">Bushido Kai America</option>
                                        <option value="5">Bushido Kai Judo Club</option>
                                        <option value="5">Cache Valley Judo Club</option>
                                        <option value="5">Camal Judo</option>
                                        <option value="5">Capital City Judo</option>
                                        <option value="5">Capital MMA & Elite Fitness</option>
                                        <option value="5">Chosen-Sha Judo Academy</option>
                                        <option value="5">Chu To Bu Judo Club, Inc.</option>
                                        <option value="5">CMAC - JUDO</option>
                                        <option value="5">Cupertino Judo Club</option>
                                        <option value="5">Danzan Ryu Missoula Jujitsu</option>
                                        <option value="5">DC VA Medical Center Adaptive Judo</option>
                                        <option value="5">DeLeon Judo Club</option>
                                        <option value="5">Denton Jr Optimist Judo Club</option>
                                        <option value="5">DOCS Gym</option>
                                        <option value="5">Dubuque Judo club</option>
                                        <option value="5">Dynamo Sports Club</option>
                                        <option value="5">Eastside Dojo</option>
                                        <option value="5">El Toro Judo Club</option>
                                        <option value="5">Elevate Judo & Jiu-Jitsu</option>
                                        <option value="5">Emerald City Judo Club</option>
                                        <option value="5">EVOLUTION DOJO</option>
                                        <option value="5">Fight Factory Gym</option>
                                        <option value="5">First Baptist Harrah Judo Team</option>
                                        <option value="5">Fishers YMCA Judo Club</option>
                                        <option value="5">Fox Valley Judo & Jujitsu Club</option>
                                        <option value="5">Gardena Judo Club</option>
                                        <option value="5">Gator Judo Club</option>
                                        <option value="5">Generation Judo Club</option>
                                        <option value="5">Godai Judo</option>
                                        <option value="5">Hanabi Albany Judo</option>
                                        <option value="5">Hawaii Boys & Girls Club Judo</option>
                                        <option value="5">Hayastan Judo</option>
                                        <option value="5">Heart Judo</option>
                                        <option value="5">Highlands Judo Dojo</option>
                                        <option value="5">Hill Judo Club</option>
                                        <option value="5">Hogosha Judo LLC</option>
                                        <option value="5">Joplin Judo and JiuJitsu</option>
                                        <option value="5">Judan Judo</option>
                                        <option value="5">Judan Judo of Toledo</option>
                                        <option value="5">Judo Club/Team at the University of Hawaii</option>
                                        <option value="5">Kaizen Judo Dojo</option>
                                        <option value="5">Kaizen Kan</option>
                                        <option value="5">Kama Jiu-Jitsu</option>
                                        <option value="5">Kata Chicago Judo Club</option>
                                        <option value="5">Kenam's Judo Club</option>
                                        <option value="5">Kent Schools Judo Team</option>
                                        <option value="5">Krystek Judo</option>
                                        <option value="5">Maryland Judo Team</option>
                                        <option value="5">Mat-Su Judo Inc.</option>
                                        <option value="5">Matside Judo and Jiujitsu</option>
                                        <option value="5">Mayo Quanchi Judo and Wrestling</option>
                                        <option value="5">Mercer Island/Bellevue Judo Dojo</option>
                                        <option value="5">Metro Orlando JudoKai</option>
                                        <option value="5">Miami Dade College- N Campus</option>
                                        <option value="5">Mid-Missouri Judo Club</option>
                                        <option value="5">Midway Judo Club</option>
                                        <option value="5">Midwest Jiu Jitsu Academy</option>
                                        <option value="5">Sempai Judo Academy</option>
                                        <option value="5">Valley Judo Institute</option>
                                        <option value="5">Wahadachi Judo Club</option>
                                        <option value="5">Wall 2 Wall Martial Arts</option>
                                        <option value="5">Warrior Judo Club</option>
                                        <option value="5">Washington Judo Club at Georgetown Univeristy</option>
                                        <option value="5">Waynesville Kodokan Judo Club</option>
                                        <option value="5">Welcome Mat Judo and Jujitsu</option>
                                        <option value="5">West Bend Judo Club</option>
                                        <option value="5">West Central IL Judo</option>
                                        <option value="5">Yama Judo</option>
                                        <option value="5">Yawara Force</option>
                                        <option value="5">Yorkville Judo Club</option>
                                        <option value="5">Yu-Tora Judo</option>
                                        <option value="5">Z MATA</option>
                                        <option value="5">Zenyu Judo Dojo</option>
                                </select> <br/>
                                <br/> Rank (dropdown): <br/><br/>
                                <select>
                                        <option value="1">Novice (white belt)</option>
                                        <option value="2">6th Kyu (yellow belt)</option>
                                        <option value="3">5th Kyu (orange belt)</option>
                                        <option value="4">4th Kyu (green belt)</option>
                                        <option value="5">3rd Kyu (brown belt)</option>
                                        <option value="5">2nd Kyu (brown belt)</option>
                                        <option value="5">1st Kyu (brown belt)</option>
                                        <option value="5">1st Dan (black belt)</option>
                                        <option value="5">2nd Dan (black belt)</option>
                                        <option value="5">3rd Dan (black belt)</option>
                                        <option value="5">4th Dan (black belt)</option>
                                        <option value="5">5th Dan (black belt)</option>
                                        <option value="5">6th Dan (black belt)</option>
                                        <option value="5">7th Dan (black belt)</option>
                                        <option value="5">8th Dan (black belt)</option>
                                        <option value="5">9th Dan (black belt)</option>
                                        <option value="5">10th Dan (black belt)</option>
                                </select> <br/>
                                <br/> Existing Member Number: <br/>
                                <input type="text"> <br/>
                                <br/> Participation (multi-select): <br/>
                                <input type="text"> <br/>
                                <br/> First Name, Middle Name, Last Name: <br/>
                                <input type="text"><input type="text"><input type="text"> <br/>
                                <br/> Email: <br/>
                                <input type="text"> <br/>
                                <br/> Phone: <br/>
                                <input type="text"> <br/>
                                <br/> Address: <br/>
                                <input type="text"> <br/>
                                <br/> Date of Birth: <br/>
                                <input type="text"> <br/>
                                <br/> Age: <br/>
                                <input type="text"> <br/>
                                <br/> Gender: <br/>
                                <input type="text"> <br/>
                                <br/> Emergency Contact: <br/>
                                <input type="text"> <br/>
                                <br/> Emergency Phone Number: <br/>
                                <input type="text"> <br/>
                                <br /> Waiver: <br />
                                <input type="button" value="view" id="btnWaiver"><br>
                                <br /> Code of Conduct: <br />
                                <input type="button" value="view" id="btnCode"><br>
                                <div class="agreement"> <input type="checkbox" value="agreement">I have read the Code of Conduct and agree with terms and conditions.</div> <br />
                                <br /> <input type="button" class="button" id="btnSubmit" value="submit">
                            </div>
                        </div>
                    
                            <div class="box2">
                                <div>Affiliation: <a href="event/ijf">IJF</a> | <a href="event/pj">PJ</a> | <a href="event/usaj">USAJ</a> | <a href="event/usja">USJA</a> | <a href="event/usjf">USJF</a></div>
                            </div>
            
                        <div class="box3">
                            <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins" [events]="[
                            { title: 'Learn Judo from Legendary Olympians', date: '2019-09-15' }
                          ]"></full-calendar>
                        </div>
            
                </div>
        
        <app-footer></app-footer>