<app-header></app-header>

<div class="body">
    <div class="content-1-6">
        <h2>News Feed</h2>
    </div>
    <div class="content-2-6">
        <h2>Technique of the Month</h2>
    </div>
    <div class="content-3-6">
        <h2>Story of the Month</h2>
    </div>
    <div class="content-4-6">
        <p>
            Judoka of the Month
            <br/> Photo
            <br/> Affiliation
            <br/> Yudanshakai
            <br/> Club
            <br/> City, State
            <br/> Age
            <br/> Stats
            <br/> Self Bio
        </p>
    </div>
</div>

<app-footer></app-footer>