<div class="Logo">
    <p> Logo </p>

    <app-header></app-header>

    <div class="content-1-6">
        <p>News Feed</p>

        <div class="content-2-6">
            <div>Technique of the Month</div>

            <div class="content-3-6">
                <p>
                    Story of the Month
                </p>
                <div class="content-4-6">
                    <p>
                        Jodoka of the Month
                        <br/> Photo
                        <br/> Affiliation
                        <br/> Yudanshakai
                        <br/> Club
                        <br/> City, State
                        <br/> Age
                        <br/> Stats
                        <br/> Self Bio
                    </p>

                    <app-footer></app-footer>