<app-header></app-header>

<div class="grid">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Caudex&display=swap');
    </style>
    <div class="col-1">
        <div class="row--container">
            <div class="row-1">
                <h2>News Feed</h2>
                <article class="module">
                    <app-rss></app-rss>
                </article>
            </div>
            <div class="row-2">
                <h2>Technique of the Month</h2>
                <h3>Kani Basami: Flying Scissors</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YbHy0FbMA-E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h4>This is prohibited Waza.</h4>
                <h4>Summary</h4>
                <p>The Kani-basami (Scissors throw) consists of scissoring the opponent's upper body between your legs and toppling him in the backward direction.</p>
                <img alt="Kani-basami" src="../../assets/kani-basami.PNG">
                <h4>Details</h4>
                <p>
                    Tori breaks uke's balance towards his rear from the left side of uke's body, and while dropping down onto one side, he puts the right leg on uke's lower abdomen and the left leg on the back of uke's knees and reaps his lower body in a scissor-like action,
                    but so that he is thrown backwards.
                </p>
                <p>
                    Positioned beside Uke (Player receiving opponent's attack), Tori (Player executing technique) grasps the back of Uke (Player receiving opponent's attack) collar with his Tsurite (Lifting hand). While supporting himself by placing his Hiki-te (Tsurite
                    [Lifting hand]) against the floor, Tori (Player executing technique) raises both legs and scissors Uke (Player receiving opponent's attack) upper body with them. In this "scissors" posture, one of Tori (Player executing technique)
                    legs is positioned behind Uke (Player receiving opponent's attack) knees, and the other leg is at Uke (Player receiving opponent's attack) abdominal area. Tori (Player executing technique) then twists his waist to rotate both is legs
                    in the backward direction, and topples Uke (Player receiving opponent's attack) in that direction. Tori (Player executing technique) performs this leg reap while pulling Uke (Player receiving opponent's attack) backward with his Tsurite
                    (Lifting hand). Due to the force of the fall which this Waza produces, and due to the high risk of strong back-of-the-head impacts against the floor which could even result in death, this is a prohibited Waza. The four Waza which are
                    currently prohibited by the international rules are the Kani-basami (Scissors throw), Ashi-garami (Entangled leg lock), Do-jime (Body scissors), and the Kawazu-gake (One-leg entanglement drop).
                </p>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="row--container">
            <div class="row-1">
                <h2>Story of the Month</h2>
            </div>
            <div class="row-2">
                <p>
                    Judoka of the Month
                    <br/> Photo
                    <br/> Affiliation
                    <br/> Yudanshakai
                    <br/> Club
                    <br/> City, State
                    <br/> Age
                    <br/> Stats
                    <br/> Self Bio
                </p>
            </div>
        </div>
    </div>

    <app-footer></app-footer>