<app-header></app-header>

<div class="body">

    <div class="side-bar-1-8">
        <p>Affiliate Logos</p>

        <div class="content-1-8">
            <p>Headquarters Photo</p>

            <div class="content-2-8">
                <input type="submit" value="Submit">
                <div>Email</div>

                <textarea id="subject" name="subject" placeholder="Message
up to 1000 characters" style="height:200px"></textarea>

                <div class="content-3-7">
                    <div>Phone</div>
                    <div>Post Mail</div>

</div>

                    <app-footer></app-footer>