<app-header></app-header>

<div class="container">
    <div class="box1">
        <div class="align">
            <a href="https://www.teamusa.org/USA-Judo">
                <img alt="USA Judo" src="../../assets/usajudo.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.usja.net/">
                <img alt="USJA" src="../../assets/usja.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.usjf.com/">
                <img alt="USJF" src="../../assets/usjf.png" width="100px" class="affiliates">
            </a>
            <a href="http://panamericanjudo.com/">
                <img alt="PanAmCon" src="../../assets/panamcon.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.ijf.org/">
                <img alt="IJF" src="../../assets/ijf.png" width="100px" class="affiliates">
            </a>
        </div>
    </div>

    <div class="box2">
        <h2>Our Headquarters</h2>
        <img src="../../assets/HQ.jpg" alt="Headquarters" class="HQ">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In faucibus leo ac pharetra tincidunt. Quisque a felis quis urna faucibus gravida a in nulla. In eget ex nec risus maximus aliquam. Sed luctus venenatis auctor. Cras vulputate metus nec pretium
            luctus. Aliquam mollis, enim eu egestas aliquam, libero dui vehicula est, ac vulputate nisi lorem ac sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra condimentum aliquet. Nunc gravida interdum ex, quis bibendum
            felis volutpat id.
        </div>
    </div>

    <div class="box3">
        <div class="questions">Questions or Concerns?</div>
        <div id="one">send our team a message below.</div>
        <textarea id="subject" name="subject" placeholder="Message up to 1000
characters" style="height:200px"></textarea>
        <div class="move"><input type="submit" value="Submit"></div>
    </div>

    <div class="box4">
        <div class="title2">
            <h2>Find Affiliates On:</h2>
        </div>
        <div class="aff1">
            <h5>USA Judo</h5>
            <a href="https://www.pinterest.com/usajudo/" class="icon" id="pin" target="_blank">
                <img src="../../assets/icons/pin.png" alt="Pinterest">
            </a>
            <a href="https://www.facebook.com/usajudoofficial/" class="icon" id="fb" target="_blank">
                <img src="../../assets/icons/fb.png" alt="Facebook">
            </a>
            <a href="https://twitter.com/usajudo?lang=en" class="icon" id="tweet" target="_blank">
                <img src="../../assets/icons/tweet.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/USAJudoOfficial/" class="icon" id="ig" target="_blank">
                <img src="../../assets/icons/ig.png" alt="Instagram">
            </a>
        </div>
        <div class="aff2">
            <h5>USJA</h5>
            <a href="https://www.facebook.com/USJudoAssoc/" class="icon" id="fb" target="_blank">
                <img src="../../assets/icons/fb.png" alt="Facebook">
            </a>
        </div>
        <div class="aff3">
            <h5>USJF</h5>
            <a href="https://www.facebook.com/usjudofederation/" class="icon" id="fb" target="_blank">
                <img src="../../assets/icons/fb.png" alt="Facebook">
            </a>
            <a href="https://www.instagram.com/usjudofederation/" class="icon" id="ig" target="_blank">
                <img src="../../assets/icons/ig.png" alt="Instagram">
            </a>
            <a href="https://www.youtube.com/channel/UCNWHMgBTkAPvQ4S1i0etOvg" class="icon" id="yt" target="_blank">
                <img src="../../assets/icons/yt.png" alt="YouTube">
            </a>
        </div>
        <div class="aff4">
            <h5>PJUC</h5>
            <a href="https://www.facebook.com/confederacionpanamericanadejudo/" class="icon" id="fb" target="_blank">
                <img src="../../assets/icons/fb.png" alt="Facebook">
            </a>
        </div>
        <div class="aff5">
            <h5>IJF</h5>
            <a href="https://www.facebook.com/judo/" class="icon" id="fb" target="_blank">
                <img src="../../assets/icons/fb.png" alt="Facebook">
            </a>
            <a href="https://twitter.com/judo?lang=en" class="icon" id="tweet" target="_blank">
                <img src="../../assets/icons/tweet.png" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/judogallery/" class="icon" id="ig" target="_blank">
                <img src="../../assets/icons/ig.png" alt="Instagram">
            </a>
        </div>
    </div>

    <div class="box5">
        <div class="des1"><b>Phone:</b>
            <a href="tel:2313520118">
                <div class="phone">(231)352-0118</div>
            </a>
        </div>
        <div class="des2"><b>Address:</b>
            <div class="mail">10 Nature Trail, Beaver Island, MI 49782</div>
        </div>
        <div class="title">Headquarters Location</div>
        <div class="map">
            <img src="../../assets/map.png" alt="location" class="location">
        </div>
    </div>

</div>

<app-footer></app-footer>