.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav {
    width: 100%;
    background: #252525;
}
ul {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
ul li {
    list-style: none;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;

}
ul li:hover {
    background: #333333;
}
a {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
