<style>
    .header {
        position: fixed;
        top: 8px;
        left: 5px;
        right: 5px;
    }
    nav {
        width: 100%;
        background: #252525;
        text-align: center;
    }
    ul {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    ul li {
        list-style: none;
        display: inline-block;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    a:hover {
        background: #333333;
    }
    a {
        padding-top: 20px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 20px;
        font-family: sans-serif;
        color: white;
        text-decoration: none;
    }
    
    /* logo distance / hover */
    
    .image {
        position: fixed;
        top: 0;
    }
    .Logo {
        margin-right: 400px;
        background: #252525;
        padding-top: 86px;
        padding-right: 55px;
        padding-left: 55px;
    }
    .Logo:hover {
        padding-top: 86px;
    }
    </style>
    
        <div class="header">
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="clubs">Clubs</a></li>
                    <li><a href="yudanshakai">Yudanshakai</a></li>
                    <li><a href="connect">Connect</a></li>
                    <li><a href="event">Event</a></li>
                    <li><a href="news">News</a></li>
                </ul>
            </nav>
        </div>