<app-header></app-header>

<div class="container">
    <div class="title">

        <h1>Find nearest club <img src="../../assets/connect.png" width="20px"></h1>
    </div>
    <div class="box1">
        <h2>Google Maps</h2>
        <div class="icon1"><img src="../../assets/google-icon.png" width="55%"></div>
        <div class="empty"></div>
    </div>
    <div class="box2">
        <h2>Search</h2>
        <p>Zip Code</p>
        <input type="text">
        <p>City, State</p>
        <input type="text">
        <p>Distance</p>
        <input type="text">
        <p>Affiliation</p>
        <label>usaj
            <input type="checkbox">
        </label>
        <label>usjf
            <input type="checkbox">
        </label>
        <label>usja
            <input type="checkbox">
        </label>
        <p>Yudanshakai</p>
        <input type="text">
        <p>Club</p>
        <input type="text">
        <br><br>
        <button>search</button>
    </div>
</div>

<app-footer></app-footer>