<div class="Logo">
  <p> Logo </p>

<app-header></app-header>

<div class="side-bar-1-2">
  <p>Clubs Found</p>
  <p>List Clubs By:
  <br/>
  -Affiliation
  <br/>
  -Yadanshakai
  <br/>
  -Club Name
  <br/>
  -Sensei
  <br/>
  -Address
  <br/>
  -Phone Number
  </p>
  
<div class="content-1-2">
  <p>
  Map Render With Results
  <br/>
  Google Maps - Dev
  </p>

<div class="side-bar-2-1">
  <p>Search</p>
  <p>Show All</p>
  <p>Zip Code</p>
  <p>City, State</p>
  <p>Distance</p>
  <p>Affiliation</p>
  <p>Yudanshakai</p>
  <p>Club</p>
  
<app-footer></app-footer>