<app-header></app-header>

    <div class="body">

        <div class="content-1-4">
            <p>
                Media Enabled as Uploaded
                <br/> Clickable Thumbs
            </p>
        </div>

            <div class="content-2-4">
                <div>Upload Source: Youtube | Instagram | Facebook | PhotoBucket | Snapfish</div>
            </div>

                <div class="content-3-4">
                    <p>
                        Upcoming Events:
                        <br/> Name, Date, Location (link events)
                        <br/> Latest Official Rule:
                        <br/> Document Link
                    </p>
                </div>

                    <div class="content-4-4">
                        <p>
                            Register for an Event:
                            <br/> -Name
                            <br/> -Location
                            <br/> -Address
                            <br/> -Hosted by
                            <br/> Date & Time
                            <br/> -Recruiting
                        </p>
                    </div>

                        <div class="content-5-4">
                            <p>
                                Athlete Discussion Board:
                                <br/> Members viewing the selection include minors, please keep it clean.
                                <br/> Pick a topic
                                <br/> Message limit 400 characters
                                <br/> User stamp
                                <br/> Date stamp
                                <br/> Time stamp
                            </p>
                        </div>
                    </div>
                    <app-footer></app-footer>