.footer {
    margin-top: 10px;
    padding: 20px 0px 20px 0px;
}

.footer {
    font-family: sans-serif;
    background: rgb(11, 49, 85);
    text-align: center;
    color: white;
}

.credit {
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
}