<style>
    .footer {
        font-family: sans-serif;
        background: rgb(11, 49, 85);
        text-align: center;
        position: fixed;
        padding: 20px;
        color: white;
        bottom: 6px;
        right: 6px;
        left: 6px;
    }
    
    .credit {
        font-size: 14px;
    }
    
    a {
        color: white;
        text-decoration: none;
    }
    </style>
    
    <div class="footer">
            <nav>
                <a href="about">About</a> | <a href="contact">Contact</a> | <a href="help">Help</a>
            </nav>
        
            <div class="credit">
                Site was made by Judon't Code Me.
            </div>