.body {
    margin-top: 100px;
}


/* menu flexbox */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    padding-top: 60px;
    padding-left: 0px;
}

h1 {
    position: relative;
    top: -120px;
    left: 340px;
    font-size: 40px;
    font-family: 'Alegreya SC', serif;
    font: bold;
}


/* sidebar */

.item--left-column {
    border: inset;
    border-color: #2028A2;
    border-width: 1px;
    background-color: #CACAD2;
    width: 120px;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}


/* judoka of the month */

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    background-color: #CACAD2;
    width: 500px;
    border: inset;
    border-color: #2028A2;
    padding: 10px;
    margin: 10px;
    display: flex;
}

article {
    font-family: 'Caudex', serif;
    justify-content: center;
}

h2 {
    font: bold;
    font-family: 'Caudex', serif;
    justify-content: center;
}


/* news */

#news {
    max-width: 90%;
    height: auto;
}


/* events */

app-ng-slick {
    size: 400px;
}