<app-header></app-header>

<div class="container">
    <div class="box1">
        <div class="align">
            <a href="https://www.teamusa.org/USA-Judo" target="_blank">
                <img alt="USA Judo" src="../../assets/usajudo.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.usja.net/" target="_blank">
                <img alt="USJA" src="../../assets/usja.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.usjf.com/" target="_blank">
                <img alt="USJF" src="../../assets/usjf.png" width="100px" class="affiliates">
            </a>
            <a href="http://panamericanjudo.com/" target="_blank">
                <img alt="PanAmCon" src="../../assets/panamcon.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.ijf.org/" target="_blank">
                <img alt="IJF" src="../../assets/ijf.png" width="100px" class="affiliates">
            </a>
        </div>
    </div>
    <div class="box2">
        <app-ng-slick></app-ng-slick>
    </div>
    <div class="box3">
        <article>
            <h1 class="int">Next Events</h1>
            <div id="style">
                <p id="margin">
                    2019 Kata Clinic & Testing for Promotion<br><br> 2019 Veterans World Team Training Camp<br><br> Learn Judo from Legendary Olympians<br><br> East Bay Invitational<br><br> 9/15/2019
                </p>
            </div>
        </article>
    </div>
    <div class="box4">
        <article>
            <div class="int">
                <h1>Judoka of the Month</h1>
                <h3>Diane Tamai Jackson</h3>
            </div>
            <div class="Judoka">
                <img id="diane" src="../../assets/Diane Tamai Jackson.jpg" alt="Diane Tamia Jackson" width="200px">
                <p>
                    Diane Tamai Jackson, godan, began judo at age seven. Her first sensei was her father, Ken Tamai, at the Hui-o judo club in Maryland, and she grew up competing in shiai. As an adult, she has been a member of over ten US teams in international judo kata
                    competition, including the Kodokan International Kata Invitational, Cuban Olympics, Pan American Championships, and four World Judo Kata Championships. She has also won multiple medals in kata at the open World Masters Judo Championships.
                    Diane was most recently the 2016 Ju-no-kata Pan-American gold medalist in 2015 & 2016 kata grand champion in the mixed division at the Senior National Championships. Diane is an active volunteer for judo, as a National-level referee,
                    National-level kata judge, member of the Shufu region Board of Examiners, Chair of the Kata Committee for the Shufu region, and an assistant instructor at Hui-o judo club in Beltsville, Maryland.
                </p>
            </div>
        </article>
    </div>
    <div class="box5">
        <article>
            <div class="Story">
                <h1>News Story of the Month</h1>
            </div>
            <img id="news" src="../../assets/kim young-gwon.jpg" height="325px">
            <p class="n">The team of North Korea won’t be a part of the World Championships in Tokyo. Last year North Korean was part of the bronze mixed team in a first unified team with five judoka from the South and one judoka from the North for the mixed team
                event. At first place two men and six women were selected for the 2019 World Championships, but the North Korea have cancelled its planned participation in the World Judo Championships to be held from August 25 at Tokyo's Budokan. North
                Korea was expected to send a three-member delegation, including vice sports minister Won Kil U, to the seminar to be held in the Japanese capital next week. The Japan Olympic Committee will use the occasion to provide officials from Olympic
                committees of countries and regions participating in the Olympics with information about the Olympic venues and other facilities. The Japanese government has said that it will give the North Korean delegation permission to attend the seminar
                as an exception from Japan's sanctions that bans North Korean nationals in principle from entering the country. Informed sources say that the North Korean side notified Japan of its decision to cancel the trip. Men's lightweight Yong Gwon
                Kim finished seventh last year in Baku and was again in the draft selection. North Korea has agreed with the International Olympic Committee on a plan to form joint teams with South Korea in four sports categories including judo for the
                Tokyo Games. These were the athletes that were selected, but will have to stay home: U60: Jae Yong An and Yong Gwon Kim U48: Yu Sun Jon and Jong Hung Kim U52: Song Sim Rim U57: Hyo Sun Ri and Jin A Kim U70: Sun Yong Kwon</p>
        </article>
    </div>
    <div class="box6">
        <div class="align">
            <a href="https://www.kokakids.co.uk/" target="_blank">
                <img src="https://www.usjf.com/wp-content/uploads/2018/09/kokakids.png" width="100px" class="sponsors">
            </a>
            <a href="https://www.hatashita.com/" target="_blank">
                <img src="https://www.usjf.com/wp-content/uploads/2018/09/hatashita-logo.png" width="100px" class="sponsors">
            </a>
            <a href="https://shop.spreadshirt.com/Honormartialarts/" target="_blank">
                <img src="https://www.usjf.com/wp-content/uploads/2018/09/honor-footer-logo.png" width="100px" class="sponsors">
            </a>
            <a href="https://www.macsmartialarts.com/" target="_blank">
                <img src="https://www.usjf.com/wp-content/uploads/2018/09/macs_logo.png" width="100px" class="sponsors">
            </a>
            <a href="http://judounlimited.com/" target="_blank">
                <img src="https://www.usjf.com/wp-content/uploads/2018/09/judo-unlimited_logo.png" width="100px" class="sponsors">
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>