* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    padding-top: 60px;
    padding-left: 0px;
}

h1 {
    position: top left;
    top: -320px;
    left: 40px;
    font-size: 40px;
    font-family: 'Alegreya SC', serif;
    font: bold;
}

a:hover {
    -moz-box-shadow: 0 0 10px #2626C4;
    -webkit-box-shadow: 0 0 10px #2626C4;
    box-shadow: 0 0 10px #2626C4;
    opacity: 0.3;
}


/* judoka of the month */

img {
    max-width: 100%;
    height: auto;
}

article {
    font-family: 'Caudex', serif;
    justify-content: center;
    font-size: 14px;
}

h2 {
    font: bold;
    font-family: 'Caudex', serif;
    justify-content: center;
}


/* news */

#news {
    max-width: 90%;
    height: auto;
}


/* events */


/* grid system */

[class*='col-'] {
    float: left;
    padding: 10px;
    background-color: lightgrey;
    border: 2px #2626C4 solid;
    font-family: 'Caudex', serif;
}

.col-1-4 {
    width: 10%;
}

.col-2-4 {
    width: 40%;
}

[class*='col-']:last-of-type {
    padding: 10px;
}

grid:after {
    content: "";
    display: table;
    clear: both;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.module {
    padding: 20px;
    background: #eee;
}