/* menu flexbox */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: white;
    background-color: rgb(157, 157, 161);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    width: auto;
}

.menu {
    border: 1px solid white;
    width: auto;
    justify-content: space-around;
    display: flex;
}


/* sidebar */

.item--left-column {
    border-color: black;
    border-width: 1px;
    background-color: rgb(157, 157, 161);
    width: 120px;
    justify-content: center;
    border: inset;
    padding: 10px;
    margin: 10px;
}


/* judoka of the month */

img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    background-color: rgb(157, 157, 161);
    width: 500px;
    border: inset;
    border-color: black;
    padding: 10px;
    margin: 10px;
    display: flex;
}


/* slideshow */