* {
    box-sizing: border-box;
    font-family: 'Alegreya SC', serif;
    background-color: black;
}

a {
    text-decoration: none;
}

a:visited,
a:focus {
    color: rgb(102, 154, 167);
}

a:hover {
    color: rgb(58, 45, 177);
}

footer {
    padding: 0.5rem;
    position: fixed;
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
}


/* .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex;
} */

#center {
    top: 0;
    text-align: center;
    color: #DCDCDD;
}