<style>
    .container {
        display: grid;
        grid-template-columns: 10% 40% 50%;
        grid-gap: 1em;
        grid-auto-rows: 350px;
        margin-top: 110px;
    }
    
    .container>div {
        background: #eee;
        padding: 40px;
        border-radius: 2px;
    }
    
    .box1 {
        grid-row: 1/3;
    }
    
    .box2 {
        grid-row: 1/3;
    }
    
    .box3 {
        margin-right: 30px;
    }
    
    .box4 {
        margin-right: 30px;
        grid-column: 3;
    }
</style>

<app-header></app-header>

<div class="container">
    <div class="box1">
        <br>
        <br>
        <a href="https://www.teamusa.org/USA-Judo">
            <img alt="USA Judo" src="../../assets/usajudo.png" width="100px">
        </a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://www.usja.net/">
            <img alt="USJA" src="../../assets/usja.png" width="100px">
        </a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://www.usjf.com/">
            <img alt="USJF" src="../../assets/usjf.png" width="100px">
        </a>
        <br>
        <br>
        <br>
        <br>
        <a href="http://panamericanjudo.com/">
            <img alt="PanAmCon" src="../../assets/panamcon.png" width="100px">
        </a>
        <br>
        <br>
        <br>
        <br>
        <a href="https://www.ijf.org/">
            <img alt="IJF" src="../../assets/ijf.png" width="100px">
        </a>
    </div>

    <div class="box2">
        <p>
            Committees
            <br/> Chairman of the Board
            <br/> Vice Chairman of the Board
            <br/> Treasurer
            <br/> Secretary
            <br/> Athelete
            <br/> Coach
            <br/> Kata
            <br/> Referee
            <br/> Tournament
            <br/> Membership
            <br/> Travel
            <br/> Events
            <br/> International
        </p>
    </div>

    <div class="box3">
        <p>Mission</p>
    </div>

    <div class="box4">
        <p>Our Story</p>
    </div>

    <app-footer></app-footer>