<app-header></app-header>

<div class="container">
    <div class="box1">
        <div class="align">
            <a href="https://www.teamusa.org/USA-Judo">
                <img alt="USA Judo" src="../../assets/usajudo.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.usja.net/">
                <img alt="USJA" src="../../assets/usja.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.usjf.com/">
                <img alt="USJF" src="../../assets/usjf.png" width="100px" class="affiliates">
            </a>
            <a href="http://panamericanjudo.com/">
                <img alt="PanAmCon" src="../../assets/panamcon.png" width="100px" class="affiliates">
            </a>
            <a href="https://www.ijf.org/">
                <img alt="IJF" src="../../assets/ijf.png" width="100px" class="affiliates">
            </a>
        </div>
    </div>
    <div class="box2">
        <div class="navigation">

            <h1 id="center">Officers</h1>

            <a href="committees">
                <div id="right2">Committees</div>
            </a>

            <a href="committees">
                <div id="right"><img alt="IJF" src="../../assets/arrow-right.png" width="30px"></div>
            </a>
        </div>


        <div class="comm">
            <a href="">
                <div class="desc">
                    <div id="img">
                        <img src="https://www.usja.net/static/images/johnpaccione.jpg" width="100px">
                    </div>
                    <p id="first">John <br> Paccione</p>
                    <p id="second">President</p>
                </div>
            </a>

            <a href="">
                <div class="desc">
                    <img src="https://www.usja.net/static/images/celitaschutz.jpg" width="100px">
                    <p id="first">Celita <br> Schutz</p>
                    <p id="second">Vice President</p>
                </div>
            </a>

            <a href="">
                <div class="desc">
                    <img src="https://www.usja.net/static/images/davidgoodwin.jpg" width="100px">
                    <p id="first">David <br> Goodwin</p>
                    <p id="second">Secretary</p>
                </div>
            </a>

            <a href="">
                <div class="desc">
                    <img src="https://www.usja.net/static/images/marktamulionis.jpg" width="100px">
                    <p id="first">Mark <br> Tamulionis</p>
                    <p id="second">Treasurer</p>
                </div>
            </a>

            <a href="">
                <div class="desc">
                    <img src="https://www.usja.net/static/images/sparkybollinger.jpg" width="100px">
                    <p id="first">H.C. (Sparky) <br> Bollinger</p>
                    <p id="second">Director</p>
                </div>
            </a>

            <a href="">
                <div class="desc">
                    <img src="https://www.usja.net/static/images/edrodriguez.jpg" width="100px">
                    <p id="first">Ed <br> Rodriguez</p>
                    <p id="second">Director</p>
                </div>
            </a>

            <a href="">
                <div class="desc">
                    <img src="https://www.usja.net/static/images/bobrush.jpg" width="100px">
                    <p id="first">Paul (Bob) <br> Rush</p>
                    <p id="second">Director</p>
                </div>
            </a>

            <a href="">
                <div class="desc">
                    <img src="https://www.usja.net/static/images/garygoltz.jpg" width="100px">
                    <p id="first">Gary Goltz</p>
                    <p id="second">Chairman, Promotion Board</p>
                </div>
            </a>

        </div>
    </div>

    <div class="box3">
        <h1>Mission</h1>
        <div class="mission">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec tellus vitae urna dapibus fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam placerat ullamcorper libero sit amet mattis. Maecenas
            nec sapien nunc. In non feugiat lorem. Vivamus sit amet orci eu justo imperdiet scelerisque nec efficitur felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed mollis augue at urna feugiat, sit amet
            sagittis urna venenatis. Nam lobortis malesuada pharetra. Nam laoreet ipsum vitae ligula bibendum condimentum. Nulla vehicula odio lorem, pellentesque viverra libero porta non. Integer faucibus vulputate neque. Aenean eu porta justo.
        </div>
    </div>

    <div class="box4">
        <h1>Our Story</h1>
        <div class="story">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec tellus vitae urna dapibus fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam placerat ullamcorper libero sit amet mattis. Maecenas
            nec sapien nunc. In non feugiat lorem. Vivamus sit amet orci eu justo imperdiet scelerisque nec efficitur felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed mollis augue at urna feugiat, sit amet
            sagittis urna venenatis. Nam lobortis malesuada pharetra. Nam laoreet ipsum vitae ligula bibendum condimentum. Nulla vehicula odio lorem, pellentesque viverra libero porta non. Integer faucibus vulputate neque. Aenean eu porta justo. Fusce
            luctus ac nunc ac dignissim. Nullam ut erat aliquet, cursus quam vel, fringilla neque. Etiam at sollicitudin massa. Pellentesque ac augue libero. Sed eget turpis magna. Donec ut nunc dictum, tempor tortor in, aliquet nibh. Sed quis erat dignissim,
            molestie nisi eget, euismod eros. Aenean porttitor ante velit, et bibendum tellus fermentum quis. Suspendisse egestas lacus quis mauris fringilla, sed volutpat tellus pulvinar. Donec eget velit velit. Integer nisi nunc, elementum ac nisl non,
            rutrum cursus metus. Aliquam nisi eros, ornare a ornare id, cursus eget enim.
        </div>
    </div>
</div>

<app-footer></app-footer>