<app-header></app-header>

    <div class="container">

        <div class="box1">
            Affiliates
        </div>

        <div class="box2">
            <p>
                Online Member Form
                <br/><br/> Affiliation (dropdown)
                <br/><br/> Yudanshakai
                <br/><br/> Club (breakdown)
                <br/><br/> Rank (breakdown)
                <br/><br/> Existing Member Number
                <br/><br/> Participation (multi-select)
                <br/><br/> First Name, Middle Name, Last Name
                <br/><br/> Email
                <br/><br/> Phone
                <br/><br/> Address
                <br/><br/> Date of Birth
                <br/><br/> Age
                <br/><br/> Gender
                <br/><br/> Race
                <br/><br/> Attendance Expectation (dropdown)
                <br/><br/> Membership Choice
                <br/><br/> Background Screening
                <br/><br/> Waiver
                <br/><br/> Code of Conduct
            </p>
        </div>

            <div class="box3">
                <div>PayPal</div>
            </div>

                <div class="box4">
                    <p>Search Frequently Asked Questions</p>
                </div>

                    <div class="box5">
                        <p>Frequently Asked Questions with Answers</p>
                    </div>

                    </div>

                        <app-footer></app-footer>
                        