<h2>Modal Example</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <form class="loginWindow">
            <h2>Admin Login:</h2>
            <br>
            <input type="text" name="username" value="User Name">
            <br>
            <input type="text" name="password" value="Password">
            <br>
            <input type="text" name="select" value="Select User">
            <select>
                    <option value="1">Member</option>
                    <option value="2">Site Admin</option>
                </select>
            <input type="submit" value="Submit">
        </form>
    </div>

</div>