<app-header></app-header>

<div class="container">

    <div class="box1">
        <!--<div id="top">
            <h2>Choose a way to pay</h2>
            <p class="a">PayPal securely processes payments for this website</p>
        </div>-->

        <a href="https://www.paypal.com/us/home"><img alt="USJF" src="../../assets/paypal.png" width="100px"></a>

        <div id="center">
            <div id="question">
                <h4>Have a PayPal account?</h4>
                <p class="b">Log in to your PayPal account to pay</p>
            </div>

            <div id="fill">
                <p>Email</p>
                <input>

                <p>PayPal password</p>
                <input>

                <br><br>


                <button>Log in</button>

                <br><br>

                <a href class="c">forgot your email address or password?</a>
            </div>
        </div>
    </div>

    <div class="box2">
        <div class="gap">
            <a href="https://www.paypal.com/welcome/signup/#/email_password" id="create">Create a PayPal account</a>
            <p class="c">And pay with your debit or credit card</p>
        </div>
    </div>

</div>

<app-footer></app-footer>