<style>
    @media screen and (max-width: 1678px) and (min-width: 829px) {
        .container {
            margin-bottom: 165px;
        }
        p.c {
            line-height: 40%;
        }
    }

    @media screen and (min-width: 1679px) and (max-width: 1699px){
        .container {
            margin-bottom: 165px;
        }
        
        #question {
            line-height: 90%;
        }
        #center {
            margin-top: 30px;
            margin-left: 570px;
        }
        #create {
            margin-left: 570px;
        }
        p.c {
            margin-left: 570px;
            line-height: 40%;
        }
    }

    @media screen and (min-width: 1700px) {
        .container{
            margin-bottom: 280px;
        }
        #center {
            margin-top: 60px;
            margin-left: 570px;
        }
    }

    img{
        float: right;
        margin-top: 15px;
        margin-right: 35%;
    }
    h2 {
        color: orange;
    }
    h4 {
        color: rgb(74, 136, 207);
    }
    p.a {
        font-size: 14px;
        color: rgb(82, 82, 82);
    }
    p.b {
        font-size: 12px;
        color: rgb(124, 123, 123);
    }
    p.c {
        font-size: 12px;
        color: rgb(124, 123, 123);
    }
    a.c {
        font-size: 12px;
    }
    .container {
        margin-top: 160px;
        margin-left: 100px;
        margin-right: 100px;
        background-color: #ccc;
        padding: 40px;
        border-radius: 2px;
    }
    .box1 {
        border: solid 1px rgb(168, 168, 168);
        border-radius: 2px;
    }
    .box2 {
        margin-top: 10px;
        border: solid 1px rgb(168, 168, 168);
        border-radius: 2px;
    }
    .gap {
        margin-top: 15px;
    }
    /*#top {
        line-height: 40%;
    }*/

    #fill {
        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 20px;
        font-size: 13px;
    }
    #create {
        font-weight: 600;
    }
</style>
    
    <app-header></app-header>

<div class="container">

    <div class="box1">
        <!--<div id="top">
            <h2>Choose a way to pay</h2>
            <p class="a">PayPal securely processes payments for this website</p>
        </div>-->

        <a href="https://www.paypal.com/us/home"><img alt="USJF" src="../../assets/paypal.png" width="100px"></a>

        <div id="center">
            <div id="question">
                <h4>Have a PayPal account?</h4>
                <p class="b">Log in to your PayPal account to pay</p>
            </div>
            
            <div id="fill">
                <p>Email</p>
                <input>

                <p>PayPal password</p>
                <input>

                <br><br>
            

            <button>Log in</button>

            <br><br>

            <a href class="c">forgot your email address or password?</a>
            </div>
        </div>
    </div>
        
    <div class="box2">
        <div class="gap">
            <a href="https://www.paypal.com/welcome/signup/#/email_password" id="create">Create a PayPal account</a>
            <p class="c">And pay with your debit or credit card</p>
        </div>
    </div>

</div>

    <app-footer></app-footer>