<app-header></app-header>

<div class="container">

    <div class="box1">
        <div>
            <h2>Event Form</h2>
            <br/> Event Type
            <br/> Event Name
            <br/> Event Location & Address
            <br/> Event Description
            <br/> Affiliation (dropdown)
            <br/> Yudanshakai
            <br/> Club (dropdown)
            <br/> Rank (dropdown)
            <br/> Existing Member Number
            <br/> Participation (multi-select)
            <br/> First Name, Middle Name, Last Name
            <br/> Email
            <br/> Phone
            <br/> Address
            <br/> Date of Birth
            <br/> Age
            <br/> Gender
            <br/> Emergency Contact
            <br/> Emergency Phone Number
            <br/> Waive
            <br/> Code of Conduct
        </div>
    </div>

        <div class="box2">
            <div>Filter: <a href="event">Year</a> | <a href="event">Month</a> | <a href="event">Type</a> | <a href="event">Affiliation</a> | <a href="event">State</a></div>
        </div>

            <div class="box3">
                <p>
                    Event Calender
                </p>
            </div>

    </div>

                <app-footer></app-footer>