<div class="Logo">
    <p> Logo </p>

    <app-header></app-header>

    <div class="content-1-5">
        <p>
            Event Form
            <br/> Event Type
            <br/> Event Name
            <br/> Event Location & Address
            <br/> Event Description
            <br/> Affiliation (dropdown)
            <br/> Yudanshakai
            <br/> Club (dropdown)
            <br/> Rank (dropdown)
            <br/> Existing Member Number
            <br/> Participation (multi-select)
            <br/> First Name, Middle Name, Last Name
            <br/> Email
            <br/> Phone
            <br/> Address
            <br/> Date of Birth
            <br/> Age
            <br/> Gender
            <br/> Emergency Contact
            <br/> Emergency Phone Number
            <br/> Waive
            <br/> Code of Conduct
        </p>

        <div class="content-2-5">
            <div>Event Calender Filter: Year | Month | Type | Affiliation | State</div>

            <div class="content-3-5">
                <p>
                    Event Calender
                </p>

                <app-footer></app-footer>